<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <form action="/calculator", method=['GET'] >

    <ul>
        <li style = "display: inline-block">
            <label for="number_1">Enter Number_1</label>
            <input type="text" name="number_1">

        </li>
        <li >
            <label for="number_2">Enter Number_2</label>
            <input type="text" name="number_2">


        </li>
        <li style = "display: inline-block">
            <label for="Enter-Operator">Enter Operator</label>

            <input type="text" name="Enter-Operator">

        </li>
        <li style = "display: inline-block">
                <button style= "width: 54px">Submit</button> 

        </li>
    </ul>
    </form>



</body>
</html>